{% load static %}

<link href ="{% static '/css/main.css' %}" rel="stylesheet" type = "text/css">





<!DOCTYPE html>
<html>
<head>
  <title>Richa Patil</title>
  <link href="{% static '/css/main.css' %}" rel ="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 
</head>
<body>
<div class="container">
  <div class="row">
     <div class="col-md-3">
       <div class="card card-body h-100 border-info" id="profile-wrapper">
         <img id= "profile-pic" src ="{% static 'images/girl.jpg'%}">
         <br>
         <h4>Hi I'm Richa!</h4>
       </div>
     </div>

    <div class="col-md-9">
       <div class ="card card-body h-100 border-info">
       <h4>My Experience As a Developer </h4>
       <hr>
       <p>My Journey as a software as a developer was very exciting.It was a dream come true.
       I have completed My schooling from Mumbai.Just awesome days!!!</p>
       <p>My college was also in Mumbai.I remember Mumbai Rains.I think we all recollect mumbai memories with local train.</p>
       <ul class="social-links">
        <li><img class="social" src="{%static 'images/facebook.png'%}"></li>
        <li><img class="social" src="{%static 'images/linkedin.png'%}"></li>
        <li><img class="social" src="{%static 'images/twitter.png'%}"></li>
        <li><img class="social" src="{%static 'images/youtube.png'%}"></li>
       </ul>
       
       </div>
    </div>
  </div>
<br>
   <div class="row">
     <div class="col-md-6">
       <div class="card card-body h-100">
        <h4>My Experience As a Trainer </h4>
       <hr>
       <p>My Journey as a trainer started and I was quite excited for that.They taught me the biggest practical teaching of my life.My learning's were patience,staying in present moment,
        leadership,be jovial this too shall passby.
        </p>
       </div>
     </div>

    <div class="col-md-6">
       <div class ="card card-body h-100">
       <h4>My Experience As a Talent Developer </h4>
       <hr>
       <p>The most Adventures thing you can do in life is training folks on new technology.it was exciting and challenging.But lot of learning in one go!!!</p>
       </div>
    </div>
  </div>

  <br>
 <div class="row">
     <div class="col-md-6">
       <div class="card card-body  h-100">
        <h4>My Experience As a Software Developer</h4>
       <hr>
       <p>This was too exciting and amazing more of research field where error become your best friend but trust me you will learn 
       atleast 5 concepts while solving 1 bug</p>
       </div>
     </div>

    <div class="col-md-6">
       <div class ="card card-body h-100">
        <h4>My Experience As a Project Manager</h4>
       <hr>
       <p>Project Manager have made me learn lot of things like leadership,team management,conflict resolving,working
        and staying calm during pressure</p>
       </div>
    </div>
  </div>

</div>


</body>
</html>